<div class="container-fluid">
  <div class="row">
    <!--user information  -->
    <div class="col-11">

    <a class="button-transparent">
      <img
      *ngIf="user !== null"
      src="https://i.pinimg.com/736x/4f/69/b4/4f69b4c959027702f8f07ac813c3cdd5--beautiful-eyes-beautiful-women.jpg"
      alt=""
      class="user-photo">
      <p>usuario</p>
    </a>
    </div>


    <!--insret the content in the card likes, comments , etc  -->
    <div  [class]="publication.anonimus? 'col-11 shadow card card-inverse dark':'col-11 shadow card' ">
      <div class="row">
        <!--content  -->
        <content *ngIf="publication.content" class='col-12'
          [content]="publication.content | content:publication.user | async"
          [isAnonimus] = "publication.anonimus"
          [inPublication] = 'true'>
        </content>
      </div>


      <!--likes  -->
      <div class="row" style="text-align: center; margin-top: 0px ">
      <div class="col-4" style="margin: 1rem 0 ;padding: 0">
        <p style="margin: 0px">
          {{publication.likes}} <button class='button-transparent fa fa-heart'></button>
        </p>
      </div>
      <!--add to mi coffer  -->
      <div class="col-4 " style="margin: 1rem 0; padding: 0">
          <button class='button-transparent fa fa-plus-circle'></button>
      </div>
      <!--comment  -->
      <div class="col-4" style="margin: 1rem 0 ; padding: 0">
        <p style="margin: 0px">
          {{publication.comments}} <button class='button-transparent fa fa-comment'></button>
        </p>
      </div>
      </div>
    </div>

  </div>
</div>

