img{
  height: 40px;
  width: 40px;
}

.button-transparent{
  background: transparent;
  border-color: transparent; 
}



.user-photo{
  border-radius: 50%;
}

.dark{
  background-color: #333; 
  border-color: #333;
  color: white;
}

.dark .button-transparent{
    background: transparent;
    border-color: transparent;
    color: white;
}