<button id="openFolderModal" style="visibility : hidden" data-target="#folder-form" data-toggle="modal"></button>
<!-- Modal -->
<div id="folder-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add folder</h5>
      </div>
      <form #formFolder="ngForm">
        <div class="modal-body">

          <input type="text"
                 placeholder="Nombre"
                 class="form-control"
                 name="name"
                 [ngModel]="modelFolder.name"
                 #name="ngModel"
                 required>
          <div *ngIf="name.errors && (name.dirty || name.touched)"
               class="alert alert-danger">
            Name is required
          </div>
          <input #pass
                 type="password"
                 placeholder="contraseña"
                 class="form-control"
                 name="password"
                 [(ngModel)]="password">
          <input type="password"
                 placeholder="repite la contraseña"
                 class="form-control"
                 name="confirmPassword"
                 [(ngModel)]="confirmPassword"
                 #confPass="ngModel"
                 (change)="confirmPassword == password ? passConfirmed = true : passConfirmed = false">
          <div *ngIf="!passConfirmed && (confPass.dirty || confPass.touched)"
               class="alert alert-danger">
            Las contraseñas no coinciden
          </div>

            <div class="folder-container">
              <i [class]="'fa fa-folder'"
                      style.color="{{colorApp}}"
                      (click)="openColorInput()">
              </i>
              <input #color id="color"
                     type="color"
                     [(ngModel)]="colorApp"
                     list="colors"
                     (change)="0"
                     name="color"
                     #color="ngModel">
            </div>

          <div class="alert alert-success" *ngIf="!colorTouched">
            Haz click en el icono y cambiale el color!
          </div>

        </div>
        <div class="modal-footer">
          <button type="button"
                  id="cancelFolder"
                  class="btn btn-outline-primary cancel"
                  data-dismiss="modal"
                  data-target="#folder-form"
                  (click)="formFolder.reset()">
            Cancelar
          </button>
          <button type="submit" class="btn  btn-outline-primary"
                  data-dismiss="modal"
                  (click)="saveFolder(formFolder)"
                  [disabled]="!formFolder.valid || !passConfirmed">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
