img{
  height: 40px;
  width: 40px;
}

#profile-button{
  margin-left: auto;
}

.user-photo{
  border-radius: 50%;
}

.nav {
  width: 100%;
  margin-top: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
}

.nav button, .nav button:hover, .nav button:active, .nav button:focus{
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
  outline: none;
}

