<nav class="nav clearfix">

  <button routerLink="/">
    <img
      src="../assets/images/logo/Bigcoffer-01-03.png"
      alt="Big Coffer logo."
      class="logo">
  </button>

  <a href="" class="nav-link" routerLink="/discover">descubre</a>

  <a href="" class="nav-link" routerLink="/">coffer</a>

  <button id="profile-button"
          type="button"
          routerLink="/profile"
          class="float-right">
    <img *ngIf="user !== null"
         [src]="user?.photoURL"
         alt=""
         class="user-photo">
  </button>

</nav>

