<!--por el momeento diferencio entre links y no links
en caso de que se pueda asociar mucho contenido, la condicion va
a cambiar a si el content tiene contents y en caso de que los tenga
extraerlos de la clase antes de mostrarlo de forma recursiva, mostrarlo en
una linea como el linky luegohacer el ngFor de contentS -->

<div *ngIf="content">
<!--  todo este codigo comentado va a ir a aplicaciones :)
  <div class="your-class" *ngIf="content.type === 'link'" >
    <div>
      <div class="container">
        <div class="row">
          <div [class]="!inPublication? 'col-11 shadow card  card-primary p-3 text-center': 'col-12 text-center'">

            <div class="card-block" style="padding: 2rem 0px">
           
              <span class="card-text" >

          <h4  class="Source Title">
            <i *ngIf="content.icon" [class] = "'fa fa-3x ' + content.icon"></i><br>
            <cite title="Source Title" >"{{content.title}}"</cite>
          </h4>
          <a href="{{content.link}}"
             target="_blank"
             class="text-muted"
             *ngIf="content.source">-{{content.source}}</a>
        </span>
            </div>

          </div>
        </div>
      </div>
    </div>
 
    <content *ngFor='let c of content.contents' [content]='c' [inPublication]='inPublication'></content>
  </div> -->

  <!-- si es anonimo card card-inverse  -->
  <div class="container"   *ngIf="!content.link" [style.padding]="inPublication? '0':'' " >
    <div class="row">
      <div [class]="!inPublication? 'col-11 shadow card': 'col-12'" [style.padding]="inPublication? '0':'' ">

        <!--imagen  -->
        <img
          *ngIf="content.type == 'image'"
          class="card-img-top img-fluid"
          [src]="content.source"
          style="width: 100%"
          alt="Card image cap">

        <!--video youtube -->
        <div class="embed-responsive embed-responsive-16by9" *ngIf="content.type == 'youtube'">
          <!-- <iframe
            [src]="sanitizer.bypassSecurityTrustResourceUrl(content.source)"
            allowfullscreen>
          </iframe> -->
        </div>

        <!--bloque inferior  -->
        <div class="card-block" >

          <!--frase  -->
          <span class="card-text" *ngIf="content.type == 'cite'">
            <h4  class="Source Title">
              <cite title="Source Title">"{{content.source}}"</cite>
            </h4>
            <small class="text-muted">-{{content.author}}</small>
          </span>

          <!--titulo  -->
          <h5 class="card-title" *ngIf="content.title" style="margin: 0">{{content.title}}</h5>

          <!--descripcion  -->
          <p class="card-text" *ngIf="content.description">{{content.description}}</p>
          <!--time stamp  -->
          <p class="card-text"><small class="text-muted">{{content.timestamp | date:'dd/MM/yyyy'}}</small></p>
        </div>
      </div>
    </div>
  </div>

</div>

