<button id="openAppModal" style="visibility : hidden" data-target="#application-form" data-toggle="modal"></button>
<!-- Modal -->
<div id="application-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add application</h5>
      </div>
      <form #form="ngForm">
        <div class="modal-body">
          <!--<input
            type="text" placeholder="Url"
            class="form-control"
            (change)="setSmartName()"
            name="url"
            [(ngModel)]="modelApp.url"
            #url="ngModel"
            required>
          <div *ngIf="url.errors && (url.dirty || url.touched)"
               class="alert alert-danger">
              Url is required
          </div>-->

          <input
            type="text" placeholder="Nombre"
            class="form-control"
            name="name"
            [(ngModel)]="modelApp.name"
            #name="ngModel"
            required>
          <div *ngIf="name.errors && (name.dirty || name.touched)"
               class="alert alert-danger">
            Name is required
          </div>

          <div style="padding: 2rem">

            <div class="app-style"
                 [style.background]="modelApp.background"
                 (click)="appClick($event)">
              <img src="{{modelApp.icon}}"
                   alt="favicon"
                   (error)="badFaviconUrl()"
                   *ngIf="modelApp.isfavicon">
              <i [class]="'fa fa-' + modelApp.icon"
                      [style.color]="color.value"
                      (click)="appClick($event)"
                      *ngIf="!modelApp.isfavicon">
              </i>
              <input id="backgroundFolder"
                     type="color"
                     [(ngModel)]="modelApp.background"
                     list="colors"
                     (change)="0"
                     name="backgroundFolder"
                     #backgroundFolder="ngModel">
              <input id="colorFolder"
                     type="color"
                     [(ngModel)]="modelApp.color"
                     list="colors"
                     (change)="0"
                     name="colorFolder"
                     #color="ngModel">

            </div>
          </div>

          <div class="alert alert-success" *ngIf="!colorTouched">
            Haz click en el icono y cambiale el color!
          </div>

          <app-icon-picker
            (iconSelected)="iconSelected($event)"
            [url]="modelApp.url?.valueOf()">
          </app-icon-picker>

        </div>
        <div class="modal-footer">
          <button type="button"
                  id="cancelApp"
                  class="btn btn-outline-primary cancel"
                  data-dismiss="modal"
                  (click)="form.resetForm()">
            Cancelar
          </button>
          <button type="submit"
                  class="btn  btn-outline-primary"
                  data-dismiss="modal"
                  (click)="onSubmit(form)"
                  [disabled]="!form.valid">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

