.modal-content{
  background: rgba(70,105,167,0.8);
}

.modal{
  background: rgba(0, 0, 0, 0.6)
}

.cancel:hover{
  background: red;
}

i{
  z-index: 10;
}

.app-style {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  font-size: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0,0.3);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

i, img{
  position: relative;
  left: 5px;
  top: -3px;
}

img{
  width: 50px;
  height: 50px;
}

input, input:active, input:focus{
  color: white;
}

input::placeholder{
  color: grey;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]{
  visibility: hidden;
  height: 0px;
  width: 0px;
}
