<div class="card">
  <input [(ngModel)]="searched" type="search" class="form-control iconpicker-search" placeholder="Type to filter" />

  <div class="icon-container">
    <div class="icon" *ngIf="faviconUrl">
      <img src="{{faviconUrl}}"
           alt="favicon"
           (error)="badFaviconUrl()"
           (click)="selectIcon(faviconUrl, 'url')">
    </div>
    <div class="icon" *ngFor="let icon of icons | iconFilter: searched">
      <i
         [class]="'fa fa-' + icon"
         (click)="selectIcon(icon, 'icon')"
         [class.selected]="icon == selectedIcon">
      </i>
    </div>
  </div>

</div>

