.icon{
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 30px;
}

i:hover{
  color:black;
  background: white;
}

.selected{
  color: white;
  background: #28d7d7;
}

.card {
  width: 100%;
  height: 200px;
  background: transparent;
}

.icon-container{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}

input, input:active, input:focus{
  color: white;
}

input::placeholder{
  color: grey;
}
