<form [ngClass]="{'opened' : openFlag}">
    <input
      type="search"
      placeholder="Buscar"
      name="searched"
      [(ngModel)]="searched"
      (ngModelChange)="ngOnChanges()">
    <button (click)="openCloseEvent()">
      <span><i  [class]="'fa ' + openFlag ? 'fa-times' : 'fa-search'"></i></span>
    </button>
</form>
