 <form [ngClass]="{'opened' : openFlag}">
      <input type="search"
      placeholder="Busca en google"
      name="searched"
      [(ngModel)]="query"
      style="color:indianred"
      (ngModelChange)="ngOnChanges()">
      <button style="background:ghostwhite" (click)="openCloseEvent()">
        <span><i class="fa" [class.fa-share]="openFlag" [class.fa-google]="!openFlag"></i></span>
      </button>
</form>
