/*SEARCH STYLES*/

/*search*/

form {
  position: relative;
  width: 75px;
  height: 70px;
  transition: width 0.5s;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
}

form.opened {
  width: 330px;
}

form.opened:before {
  position: fixed;
  width: 100%;
  height: 100%;
}

input[type="search"] {
  background: rgba(0, 0, 0, 0);
  height: 70px;
  width: 0;
  float:left;
  font-size: 1.5em;
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: none;
  padding-left: 20px;
  color: #28d7d7;
  transition: width 0.5s , background 0.5s ;
}

form.opened input[type="search"] {
  background: white;
  width: 300px;
  transition: width 0.5s ;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background: #28d7d7;
  border: none;
  border-radius: 50px;
  color: #FFF;
  font-size: 1.3em;
  outline: none;
  cursor: pointer;
  transition: border-top-left-radius 1s , border-bottom-left-radius 1s ;
}

form.opened button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

i{
  font-size: 40px;
  color: indianred;
}
