.profile-header{
  position: relative;
  height: 12rem;
  margin-bottom: 1rem;
  background: yellow;
  background: url("../../../assets/images/backgrounds/playa.jpg") no-repeat fixed center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

#user-info-button{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.user-photo{
  position: relative;
}

.user-photo img{
  height: 11rem;
  border-radius: 50%;
}

.user-photo i{
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  background: white;
  color: royalblue;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0px;
}







