<div class="profile-header">
  <div class="user-photo">
    <div id="edit-button">
      <i class="fa fa-pencil"></i>
    </div>
    <img src="{{profile.photoUrl}}" alt="">
  </div>

  <button id="user-info-button"
          class="btn btn-primary"
          routerLink="/profile/info">
    <i class="fa fa-info-circle"></i>
    <span class="hidden-md-down"> user info</span>
  </button>
</div>

<div class="profile-content">
  <router-outlet></router-outlet>
</div>

