


<div class="container-fluid">
<div class="row">
  <div class="col-12" style="padding:0px" [hidden]="edit">
    <label class="uploader" 
      ondragover="return false;"
      [class.loaded]="loaded"  
      (dragenter)="handleDragEnter()"
      (dragleave)="handleDragLeave()"
      (drop)="handleDrop($event)"> 
      
      <i [class]="iconClass" style="z-index: 5">
      </i>

      <span class="result rounded" *ngIf="data.image" >
        <img 
        [src]="data.image"  
        (load)="handleImageLoad()" 
        [class.loaded]="imageLoaded">
      </span>
      
      <input type="file" name="file" accept="image/*"
      (change)="handleDrop($event)">

    </label>
  </div>

  <div class="col-12" *ngIf="imageLoaded && !edit">
    <button type="button" class="btn btn-primary button-edit" (click)='activeEdit()'>editar</button>
  </div>

  <div class="col-12" [hidden]="!edit">
    <img-cropper  #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
  </div>

  <div class="col-12" *ngIf="imageLoaded && edit" style="margin: 1rem auto; padding: 0;align-items: center;">
    <button type="button" class="btn btn-primary button-edit" (click)='inactiveEdit()'>Listo</button>
  </div>

</div>
</div>