app-search, app-application, app-g-search, app-add{
  min-width: 80px;
  margin: 1rem 0;
}
app-folder{
  display: flex;
  flex-direction: column;
  margin: 0 .5rem;
  min-width: 70px;
}
@media(max-width:425px){
  app-folder{
    min-width: 60px;
  }
}

.add-folder{
  display: flex;
  flex-direction: column;
  margin: 0 .5rem;
  min-width: 70px;
}
.add-folder i{
  cursor: pointer;
  font-size: 50px;
  color: orange;
  display: block;
}

.container-fluid{
  text-align: center;
}

.add-folder, app-folder{
  display: inline-block;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  min-height: 4rem;
}

#folders{
  overflow-x: auto;
  white-space: nowrap;
  flex: 1;
}

#folders::-webkit-scrollbar {
  display: none;
}

#scrollL{
  margin-right: .5rem;
}

#scrollR{
  margin-left: .5rem;
}

#scrollR, #scrollL{
  font-size: 20px;
  color: #2c3e50;
  cursor: pointer;
  right: 10px;
  width: 30px;
  flex: 0;
  display: block;
}

#applications-row{
}

#hideFolders{
  color: white;
  border: none;
  background: transparent;
  outline: none;
  display: flex;
  flex: 0 0 0px;
}

#folderName{
  margin: 0 auto;
  transition: all .5s ease;
  width: 0px;
  height: 0px;
}
