<div class="container-fluid">
  <div class="slider" id="slider">
    <!--flecha para mover las carpetas cuando rompen-->
    <button id="hideFolders"
            type="button"
            data-toggle="collapse"
            data-target="#folders" aria-expanded="true"
            aria-controls="folders">
      <i *ngIf="!colapsado" class="fa fa-times"></i>
      <i *ngIf="colapsado" class="fa fa-eye"></i>
      <i class="fa fa-folder ml-1 mr-3"></i>
    </button>

    <h4 id="folderName" class="m-fadeOut">{{selectedFolder?.name}}</h4>

    <i class="fa fa-chevron-left" id="scrollL" (click)="scrollLeft()"></i>
    <div class="row-fluid show" id="folders">

      <!--<div class="add-folder">
        <i class="fa fa-plus"
           (click)="openAddFolderModal()">
        </i>
        <p>add folder</p>
      </div>-->

      <!--lista de folders-->
      <app-folder
        *ngFor="let folder of folders | async | objetIterable: searched "
        [folder_details]="folder"
        [isSelected]="folder.$key == selectedFolder?.$key"
        [folder-menu]="folder">
      </app-folder>

    </div>
    <!--flecha para mover las carpetas cuando rompen-->
    <i class="fa fa-chevron-right" id="scrollR" (click)="scrollRight()"></i>
  </div>
  <hr class="m-0">
  <div class="row" id="applications-row">

    <!--aplicacion de busqueda en google-->
    <app-g-search
      class="col-lg-2 col-md-3 col-4"
      id="gsearch" *ngIf="selectedFolder?.name == 'my coffer'">
    </app-g-search>

    <!--lista de aplicaciones-->
    <app-application
      *ngFor="let application of applications | async | objetIterable: searched "
      id="{{application.$key}}"
      class="col-lg-2 col-md-3 col-4"
      id="{{application.$key}}"
      [app-menu]="application"
      [app-id]="application.$key"
      [app_details]="application">
    </app-application>
  </div>
</div>

<!--componentes modales que se activan desde servicios-->
<app-context-menu></app-context-menu>
<folder-context-menu></folder-context-menu>
<app-application-form></app-application-form>
<app-folder-form></app-folder-form>
<app-add-content-menu>
</app-add-content-menu>
