<div class="container-fluid" id="top" >

  <div class="row parrallax height-100vh tormenta align-items-center">
    <div class="text-center" >

      <!--Proximamente apps flotantes -->
      <img class="img-fluid img-small " src="../../assets/images/logo/cofrepng.png" >
      <!--Proximamente apps flotantes -->

      <h1>Bienvenido a Big Coffer!</h1>
      <p>Donde guardar tus tesoros es posible.</p>
      <a class="btn btn-outline-warning btn-lg btn-block" role="button"
      routerLink="/suscribe-email"
      routerLinkActive="active"
      >
      Registrarme
      </a>
      <button type="button" class="btn btn-warning btn-lg btn-block space" data-toggle="modal" data-target="#modal-login">Iniciar Sesion</button>





        <div id="modal-login" class="modal fade font-b" role="dialog">
          <div class="modal-dialog">


            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" >Iniciar Sesion</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>

              <div class="modal-body" >

                <div class="form-group">
                  <label >Usuario:</label>
                  <input type="email" class="form-control" id="email" placeholder="Ingrese su usuario" name="email">
                </div>
                <div class="form-group">
                  <label >Contraseña:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="ingrese su contraseña" name="pwd">
                </div>
                <button class="btn btn-secondary"> Iniciar Sesion </button>

                <div class="form-group">
                  <label>O </label><br/>
                  <button class="btn btn-danger" (click)="googleLogin()" data-dismiss="modal"> <i class="fa fa-google"></i> Google</button>
                  <button class="btn btn-primary" (click)="facebookLogin()" data-dismiss="modal"> <i class="fa fa-facebook"></i> Facebook</button>
                  <!--<button class="btn btn-info"> <i class="fa fa-twitter"></i> Twitter</button>-->
                </div>
              </div>
              <a href="/suscribe-email"> <p> No posees una cuenta? Crea una aqui! </p></a>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>

<div class="hidden-sm-down">
  <div class="hidden-md-down">
    <div class="row justify-content-around back-yellow padding-20" id="carrusel" >

        <div class="tablet dist ">

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >

            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>

            <div class="carousel-inner " role="listbox" >

              <div class="carousel-item active " >
                <img class="d-block img-fluid  px-200x200" src="../../assets/images/infopag/logeo.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block back-yellow" >
                  <h3>Logeo facil y Rapido</h3>
                  <p>Utiliza tus cuentas de gmail, facebook o email para registrar tu cuenta.</p>
                </div>
              </div>

              <div class="carousel-item ">
                <img class="d-block img-fluid  px-200x200" src="../../assets/images/infopag/manejoapps.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block back-yellow">
                  <h3>Siempre Ordenado</h3>
                  <p>Maneja el orden de tus apps favoritas y carpetas</p>
                </div>
              </div>

              <div class="carousel-item ">
                <img class="d-block img-fluid  px-200x200" src="../../assets/images/infopag/crearapps.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block back-yellow" >
                  <h3>Crea tus Apps</h3>
                  <p>Personaliza el diseño y vista de tus apps favoritas</p>
                </div>
              </div>

              <div class="carousel-item ">
                <img class="d-block img-fluid  px-200x200" src="../../assets/images/infopag/crearfolders.jpg" alt="Fourth">
                <div class="carousel-caption d-none d-md-block back-yellow">
                  <h3>Protege tus Carpetas</h3>
                  <p>Al crear tus carpetas, podras protegerlas con contraseña y almacenar todo el contenido a eleccion.</p>
                </div>
              </div>

              <div class="carousel-item ">
                <img class="d-block img-fluid px-200x200" src="../../assets/images/infopag/busquedag.jpg" alt="Fiveth">
                <div class="carousel-caption d-none d-md-block back-yellow">
                  <h3>Busquedas Faciles</h3>
                  <p>Por defecto tendras siempre a mano el potente buscador de Google.</p>
                </div>
              </div>

            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>

        </div>

    </div>



    <div id="playa" class="row parrallax playa height-60vh align-items-center" ></div>


</div><!--vista dispositivos moviles-->



    <section id="carta" class="row section feature-box font-white back-green padding-20">

        <br/>
        <h3 class="section-heading">Ventajas de usar Big Coffer?</h3>
        <br/>
        <p class="section-description lead">Dentro de BC te encontraras con todo lo necesario para mantenerte conectado a la web y sacarle el mayor provecho a los sitios que frecuentas.</p>


        <div class="row">

            <div class="col-lg-4 mb-r back-white ">
                <div class="center-icon">
                  <i class="fa fa-eye fa-5x back-green"></i>
                </div>
                <h4 class="font-green text-center">Descubre</h4>
                <p class="font-green text-center">Conoce nuevas apps y paginas para guardar en tu cofre. Y tambien puedes recomendar las tuyas!</p>
            </div>

            <div class="col-lg-4 mb-r">
                <div class="center-icon">
                  <i class="fa fa-briefcase fa-5x back-white font-green"></i>
                </div>
                <h4 class="font-white text-center">Transporta</h4>
                <p class="font-white text-center">Solo necesitas un navegador en tu dispisitivo para acceder a tu cuenta de Big Coffer.</p>
            </div>

            <div class="col-lg-4 mb-r back-white">
                <div class="center-icon">
                  <i class="fa fa-lock fa-5x back-green"></i>
                </div>
                <h4 class="font-green text-center">Protege</h4>
                <p class="font-green text-center">En tu cuenta, podras crear carpetas protegidas por una contraseña.</p>
            </div>

        </div>

        <div class="row">


            <div class="col-lg-4 mb-r ">
              <div class="center-icon">
                <i class="fa fa-floppy-o fa-5x back-white font-green"></i>
              </div>
                <h4 class="font-white text-center">Guarda</h4>
                <p class="font-white text-center" >Podras almacenar tus apps de forma gratuita.</p>
            </div>


            <div class="col-lg-4 mb-r back-white">
              <div class="center-icon border-black">
                <i class="fa fa-folder-open fa-5x back-green"></i>
              </div>
                <h4 class="font-green text-center">Ordena</h4>
                <p class="font-green text-center">Ordena tus apps, como en el escitorio de tu equipo o movil. Clasifícalas y mas! </p>
            </div>



            <div class="col-lg-4 mb-r">
              <div class="center-icon">
                <i class="fa fa-search-plus fa-5x back-white font-green"></i>
              </div>
                <h4 class="font-white text-center">Busca</h4>
                <p class="font-white text-center">Dentro de Big Coffer tendras un buscador para filtrar las Apps y buscadores de otros motores como Google.</p>
            </div>

        </div>


    </section>



    <div id="rio" class="row parrallax height-60vh rio align-items-center" >

    </div>



  <div class="row page-footer blue center-on-small-only footf padding-20">

    <div class="container">

        <div class="row ">

                <div class="col-7">
                    <h5 class="title">Conoce mas de Big Coffer</h5>
                    <p>Enterate de las novedades y conoce todas las funcionalidades. Siguenos en nuestras redes</p>

                    <div class="social-section">
                      <a class="col" href="https://www.facebook.com/bigcoffer" target="_blank"  ><i class="fax fa fa-facebook fa-3x"> </i></a>
                      <a class="col" href="https://twitter.com/big-coffer" target="_blank"><i class="fax fa fa-twitter fa-3x"> </i></a>
                      <a class="col"><i class="fax fa fa-google fa-3x"> </i></a>
                      <a class="col" href="https://www.youtube.com/channel" target="_blank"><i class="fax fa fa-youtube fa-3x"  > </i></a>
                      <a class="col" href="https://www.instagram.com/bigcoffer/" target="_blank" ><i class="fax fa fa-instagram fa-3x" > </i></a>
                    </div>
                </div>


                <div class="col">
                    <h5 class="title">Conocenos</h5>
                    <ul>
                        <li><a class="footf" href="#!">Quienes somos.</a></li>
                        <li><a class="footf" href="#!">Terminos y condiciones</a></li>
                        <li><a class="footf" href="#!">Poiliticas de Privacidad</a></li>
                        <li><a class="footf" href="#!">Vias de Comunicacion</a></li>
                    </ul>
                </div>


        </div>


      </div>
    </div>

</div><!--vista dispositivos tvs y notebooks grandes-->


    <div class="row page-footer center-on-small-only copyf padding-20">
      <div class="container">
        <div class="row">

            © 2017 Copyright bigcoffer

        </div>
      </div>
    </div>





</div>
















