.parrallax {
    /* Full height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#top{
    width: 100%;
}

.height-100vh{
    height: 100vh;
}

.height-60vh{
    height: 60vh;
}

.height-80vh{
    height: 90vh;
}

.width-100vh{
    width: 100vh;
}

.tormenta{
        background-image: url("../../../assets/images/backgrounds/tormenta.jpg");
}

.playa{
        background-image: url("../../../assets/images/backgrounds/playa.jpg");
}

.rio{
        background-image: url("../../../assets/images/backgrounds/rio.jpg");
}

.tablet{
        background-image: url("../../../assets/images/infopag/tabletpng.png");
        width: 890px;
        height: 530px;
        min-width: 390px;
        min-height: 130px;
}

.text-center{
    text-align: center;
    margin: 0 auto;
    color: white;
}


.height-80{
    height: 80%;
}

.opacity-8{
    opacity: 0.8;
}

.back-white{
    background-color: white;
}

.back-bc{
    background-color: cornflowerblue;
}

.back-yellow{
    background-color:rgb(242, 153, 46);
}

.back-green{
    background-color:rgb(86, 188, 138)
}

.back-black{
    background-color: black;
}

.font-bc{
    color: cornflowerblue;
}

.font-green{
    color: rgb(86, 188, 138);
}

.font-white{
    color: white;
}

.width-100{
    width: 100%;
}

.px-200x200{
    margin-top: 50px;
    margin-left: 52px;
    width: 780px;
    height: 415px;
    min-width: 480px;
    min-height: 330px;
}

.footf{
    background-color: #3353F1;
    color: white;
}

.padding-20{
    padding: 20px 20px 20px 20px;
}

.padding-80{
    padding: 80px 80px 80px 80px;
}

.center-icon {
    height: 15em;
    position: relative }
.center-icon i {
    margin: 0;
    border-radius: 50%;
    padding: 5% 5% 5% 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.text-center{
    text-align: center;
}

.copyf{
    background-color:#1722FB;
    color: white;
}



.img-small{
    height: 30%;
    width: 30%;
}

.space{
    margin-bottom: 80px;
}

.font-b{
    color: black;
}

.text-left{
    text-align: left;
    margin-left: 0%;

}



.not-deco:hover{
    text-decoration:none;
    }


.not-deco{
    text-decoration:none;
    color: white;
    }

/*esconder playa y carta en tvs*/
@media (min-width:2560px){
    #playa {display: none;}
    #carta {display: none;}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {  }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

.fax {
     padding: 15px 15px 15px 15px;
     width: 80px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
 }

 /* Facebook */
 .fa-facebook {
      background: #3B5998;
      color: white;
  }

 /* Twitter */
 .fa-twitter {
      background: #55ACEE;
      color: white;
  }

 .fa-google {
    background: #dd4b39;
    color: white;
  }

 .fa-youtube {
    background: #bb0000;
    color: white;
  }

 .fa-instagram {
    background: #125688;
    color: white;
 }
