#dark-div-content{
  z-index: 2;
  height: 100vh;
  width: 100vw;
  transition: all .8s;
  background: rgba(0, 0, 0, 0.7);
}

.content-menu-container{
  z-index: 10;
  position: relative;
  width: 100px;
  position: fixed;
  bottom: 20px;
  margin-left: 50%;
  left: -50px;
}

#content-menu-button {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0,0.3);
  transition: all .8s, color .3s, text-shadow .3s ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

#add-items-container{
  margin: 0 auto;
  position: relative;
  bottom: -10px;
  width: 50px;
  height: 50px;
  align-self: center;
}

.add-item{
  position: absolute;
  transition: all .8s;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  color: #fff;
}

.add-item a{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
}

.rotate{
  transform: rotate(45deg);
  color: red !important;
}
