<div id="dark-div-content" class="fixed-top m-fadeOut" (touchstart)="close()" (click)="close()"></div>

<div class = "content-menu-container">
  <div id="add-items-container">
    <div class="add-item"
    (click)="openCreateForm('image')">
      <a style="background: orange">
        <i class="fa fa-photo"></i>
      </a>
      <span>foto</span>
    </div>
    <div class="add-item"
    (click)="openCreateForm('youtube')">
      <a style="background: red">
        <i class="fa fa-youtube"></i>
      </a>
      <span>video</span>
    </div>
    <div class="add-item"
         (click)="openCreateForm('link')">
      <a style="background: royalblue">
        <i class="fa fa-link"></i>
      </a>
      <span>link</span>
    </div>
    <div class="add-item"
        (click)="openCreateForm('cite')">
      <a style="background: greenyellow">
        <i class="fa fa-file-text"></i>
      </a>
      <span>frase</span>
    </div>
    <div
      *ngIf="mode == 'dashboard'"
      class="add-item"
      (click)="openAddFolderModal()">
      <a style="background: blueviolet">
        <i class="fa fa-folder"></i>
      </a>
      <span>carpeta</span>
    </div>
  </div>

  <div id="content-menu-button">
    <i
      class="fa fa-plus"
      (click)="addActions()">
    </i>
  </div>
</div>
