
.folder-container{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.folder-margin{
  height: 50px;
  width: 15px;
  border-radius: 10%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  display: inline-block;
}

.folder-style{
  padding: 1rem;
  height: 50px;
  line-height: 50px;
  border-radius: 10%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  background: rgba(0, 0, 0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
  align-self: center;
  font-size: 50px;
  cursor: pointer;
}

.modal-content{
  background: rgba(70,105,167,0.8);
}

.modal-body{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.modal{
  background: rgba(0, 0, 0, 0.6)
}

input, input:active, input:focus{
  color: white;
}

input::placeholder{
  color: grey;
}

.folder-name{
  margin-bottom: 0px;
}
