<i class="fa" [class.fa-folder]="!isSelected"
   [class.fa-folder-open]="isSelected"
   style.color="{{folder_details.color}}"
   (click)="showPasswordDialog()">
</i>

<p class="folder-name"  data-toggle="tooltip" data-placement="bottom" title="{{folder_details.name}}">
  {{folder_details.name | nameRecorter}}
</p>

<!-- Modal -->
<div class="modal fade" id="{{folder_details.$key}}" tabindex="1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">abrir {{folder_details.name}}</h5>
        <button type="button" class="close" (click)="closePasswordDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="password" class="form-control w-75" [(ngModel)]="password">
        <button type="button" class="btn btn-success w-25" (click)="openFolder()">ABRIR</button>
        <div *ngIf="error != ''" class="alert alert-danger w-100">
          {{error}}
        </div>
      </div>
      <div class="modal-footer">
        <span>Olvidate la contraseña? haz click <a>aqui</a></span>
      </div>
    </div>
  </div>
</div>
