<div class = "app-container">
  <span class="notification-label" *ngIf="app_details.locked == true">
    <i name="lock" style.color = "white"></i>
  </span>
  <div class="app-style"
       style.background = "{{app_details.background}}"
       (click)="openUrl()">

      <img *ngIf="app_details?.isfavicon"
           src="{{app_details.icon}}"
           [draggable]="false"
           alt="favicon">
      <i
        *ngIf="!app_details?.isfavicon"
        [class]="'fa fa-' + app_details.icon"
        style.color =  "{{app_details.color}}">
      </i>
  </div>

  <p class="app-name"  data-toggle="tooltip" data-placement="bottom" title="{{app_details.name}}">
    {{app_details.name | nameRecorter}}
  </p>
</div>
