app-application{
  width: 80px;
}

img{
  height: 40px;
  width: 40px;
}

.app-style {
  width: 70px;
  height: 70px;
  margin: 0 0.3rem;
  line-height: 70px;
  font-size: 35px;
  border-radius: 50%;
  background: rgba(0, 0, 0,0.3);
  overflow: hidden;
  transition: color .3s, text-shadow .3s ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-style:hover {
  cursor: pointer;
  text-shadow:
    black 1px 1px,
    black 2px 2px,
    black 3px 3px,
    black 4px 4px,
    black 5px 5px,
    black 6px 6px,
    black 7px 7px,
    black 8px 8px,
    black 9px 9px,
    black 10px 10px,
    black 11px 11px,
    black 12px 12px,
    black 13px 13px,
    black 14px 14px,
    black 15px 15px,
    black 16px 16px,
    black 17px 17px,
    black 18px 18px,
    black 19px 19px,
    black 20px 20px;
}




.app-name{
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-label i{
  width: 10px;
  height: 10px;
}
.notification-label {
  position: relative;
  top: 10px;
  right: -20px;
  padding: 5px 8px;
  font-size: 0.6rem;
  background: #ec0247;
  color: white;
  margin-top: -20px;
  border-radius: 100%;
  font-weight: bold;
  z-index: 10;
}

.notification-label:hover{
  animation: bounce cubic-bezier(.3, 1.45, .42, 1.37) 300ms;
}

@keyframes bounce {
  0%{}
  100% {
    padding-top: -10px
  }
  50% {
    padding-top: -5px
  }
  80%{
    padding-top: -20px
  }
}

@media (max-width: 560px) { /*OJOOOOOOO ACA PONER UN VALOR COMO LA GENTE, por ahora pongo ese*/
  .app-style:hover{
    text-shadow: none;
  }
}
