<div class="card m-0 w-100">
  <div class="card-block">
    Informacion personal
    <hr>
    <div class="form-group row">
      <label for="nombre" class="col-12 col-md-2 col-form-label">Nombre</label>
      <div class="col-12 col-md-10">
        <input class="form-control"
               type="text"
               [(ngModel)]="profile.name"
               id="nombre">
      </div>
    </div>

    <div class="form-group row">
      <label for="apellido" class="col-12 col-md-2 col-form-label">Apellido</label>
      <div class="col-12 col-md-10">
        <input class="form-control"
               type="text"
               [(ngModel)]="profile.surname"
               id="apellido">
      </div>
    </div>

    <div class="form-group row">
      <label for="nacimiento" class="col-12 col-md-2 col-form-label">fecha de nacimiento</label>
      <div class="col-12 col-md-10">
        <input class="form-control"
               type="date"
               [(ngModel)]="profile.birthday"
               id="nacimiento">
      </div>
    </div>

    <div class="form-group row">
      <label for="sexo" class="col-12 col-md-2 col-form-label">Sexo</label>
      <div class="col-12 col-md-10">
        <select class="form-control" id="sexo" [(ngModel)]="profile.sex">
          <option>Hombre</option>
          <option>Mujer</option>
          <option>Prefiero no decirlo</option>
        </select>
      </div>
    </div>

    Informacion de la cuenta
    <hr>

    <div class="form-group row">
      <label for="usuario" class="col-12 col-md-2 col-form-label">Nombre de usuario</label>
      <div class="col-12 col-md-10">
        <input class="form-control"
               type="text"
               [(ngModel)]="profile.userName"
               id="usuario">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-12 col-md-2 col-form-label">Email</label>
      <div class="col-12 col-md-10">
        <input class="form-control"
               type="email"
               [(ngModel)]="profile.email"
               id="email">
      </div>
    </div>
  </div>
</div>
<div *ngIf="successMsj" class="alert alert-success" role="alert">
  <strong>Bien ahi!</strong> Sus datos se han guardado con exito.
</div>
<div *ngIf="errMsj" class="alert alert-danger" role="alert">
  <strong>La puta!</strong> Se ha producido un error al guardar los datos :(.
</div>

<button class="btn btn-success mt-2" (click)="saveProfile()">
  <i *ngIf="loading" class="fa fa-spinner fa-spin"></i> Guardar mis datos
</button>
