<div id="contextMenu" class="div" [ngStyle]="locationCss" class="container">
  <ul class="contextMenu">
    <li><button (click)="updateApp()"><i class="fa fa-delete"></i> Modificar</button></li>
    <li><button (click)="deleteApp()"><i class="fa fa-delete"></i> Eliminar</button></li>
    <li>
      <a class="fa fa-facebook"
         href="https://www.facebook.com/sharer.php?u=item&t=Con BigCoffer.com gestionar tus marcadores, contraseñas y paginas es fácil y seguro. únete gratis!"
         target=”_blank”
         rel="nofollow"></a>
      <a class="fa fa-twitter"
         href="https://twitter.com/intent/tweet?url=item&text=Con BigCoffer.com gestionar tus marcadores, contraseñas y paginas es fácil y seguro. únete gratis!"
         target=”_blank”
         rel="nofollow"></a>
      <a class="fa fa-google-plus"
         href="https://plus.google.com/share?url=item&text=Con BigCoffer.com gestionar tus marcadores, contraseñas y paginas es fácil y seguro. únete gratis!"
         target=”_blank”
         rel="nofollow"></a>
      <button class="fa fa-copy"></button>
    </li>
  </ul>
</div>

