<!--casos posibles
imagen
youtube video
texto
cita
audio  -->  

<button id="openAppModal" style="visibility : hidden" data-target="#application-form" data-toggle="modal"></button>
<!-- Modal -->
<div id="application-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{option +' '+type}}</h5>
        <button id="close-content-form" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="form.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #form="ngForm">
        <div class="modal-body">
          <!--frase  -->
          <div *ngIf="type == 'cite'">

            <div class="form-group">
              <textarea
                type="text"
                placeholder="contenido de la cita"
                class="form-control"
                name="citeSource"
                [(ngModel)]="content.source"
                #citeSource="ngModel"
                required>
              </textarea>
            </div>

            <div class="form-group">
              <input
                type="text"
                placeholder="autor"
                class="form-control"
                name="autor"
                [(ngModel)]="content.author"
                required>
            </div>
          </div>

          <!--link  puede tener titulo-->
          <div *ngIf="type == 'link'"> 
             <div class="form-group">
              <input
                type="text"
                placeholder="Titulo"
                class="form-control"
                name="title"
                [(ngModel)]="content.title"
                #title = "ngModel"
                required>
            </div> 

            <div class="form-group">
              <input
                type="text"
                placeholder="url de la pagina"
                class="form-control"
                name="link"
                [(ngModel)]="content.source"
                required>
            </div>
          </div>

          <!--Youtube  -->
          <div *ngIf="type == 'youtube'">

            <div class="form-group">
              <input
                type="text"
                placeholder="link del video de youtube"
                class="form-control"
                name="youtubeLink"
                [(ngModel)]="content.source"
                required>
            </div>
          </div>

          <!--Imagen  -->
          <div *ngIf="type == 'image'">

            <!-- si es una imagen aca va el componente de subir imagenes  -->
            <app-picture *ngIf="type=='image'"></app-picture>
          </div>

        </div>

        <div class="form-group text-center">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input" [value]="isAnonimus" (click)="setProperty()">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Quiero que mi publicacion sea anonima</span>
          </label>
        </div>

        <div class="d-flex justify-content-center form-group">

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
            (click)="saveContent()">
            <i *ngIf="loading" class='fa fa-spinner fa-spin '></i> Publicar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

