<div class="container-fluid">
  <div class="row">
    <publication
      *ngFor="let publication of publications"
      class="col-12 col-md-6 offset-md-3"
      [publication]='publication'
      >
    </publication>
  </div>
</div>

<!--add publication  -->
<app-add-content-menu
  [mode]="'publication'"
></app-add-content-menu>

<create-content-form></create-content-form>
