#app-menu-container{
  transition: all .8s;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 50px;
  width: 100%;
  height: 80px;
  align-self: center;
  z-index: 100;
}

.context-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  color: #fff;
}

.context-item a{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* estilo para el div negro transparente que hace el efecto de enfoque en la aplicacion*/
#dark-div{
  z-index: 5;
  height: 100%;
  width: 100%;
  transition: all .8s;
  background: rgba(0, 0, 0, 0.9);
}
