<div id="app-menu-container" class="m-fadeOut">
  <div class="context-item"
       (click)="deleteApp()">
    <a style="background: red">
      <i class="fa fa-times"></i>
    </a>
    <span>eliminar</span>
  </div>
  <div class="context-item"
       (click)="updateApp()">
    <a style="background: greenyellow">
      <i class="fa fa-edit"></i>
    </a>
    <span>editar</span>
  </div>
  <div class="context-item">
    <a style="background: royalblue">
      <i class="fa fa-facebook"></i>
    </a>
    <span>facebook</span>
  </div>
  <div class="context-item">
    <a style="background: lightseagreen">
      <i class="fa fa-twitter"></i>
    </a>
    <span>twitter</span>
  </div>
</div>

<!--Div negro para hacer el efecto del context menu-->
<div id="dark-div"
     class="fixed-top m-fadeOut"
     (click)="closeMenu()"
     (touchstart)="closeMenu()">
</div>

