/* You can add global styles to this file, and also import other style files */

@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
/* slick styles */
@import url(../node_modules/slick-carousel/slick/slick.css);
@import url(../node_modules/slick-carousel/slick/slick-theme.css);

app-profile{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

app-profile-info{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*------------ fondo -----------------------*/

app-root{
  width: 100%;
}

a{
  cursor: pointer;
}

p, i, img{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.app-dashboard{
    /*background: url("/assets/back_ground_login.jpg") no-repeat center top;*/
    background: cornflowerblue;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}


/*        ---------           estilo login     ------------                  */
 .login-conteiner{
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

 .login-conteiner .title{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

 .login-conteiner .title:hover{

    animation: punchi 2s ease-in-out infinite;
}


/*   ------------  estilos del boton --------------   */

.btn{
  cursor: pointer;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-outline-primary {
    color: white;
    background: rgba(0, 0, 0, 0.4)
}

.btn-outline-primary:hover{
    background: darkorange;
    color: white;
}

.btn-outline-primary:active,
.btn-outline-primary.active{
    background: orange;
    box-shadow: none;
}


.btn-outline-primary:disabled,
.btn-outline-primary.disabled{
    color: white;
}

/* ------------------- estilos del input  -------------------- */
.form-control{
    background: rgba(0, 0, 0, 0.4) !important;
    color: white;
    border: orange !important;
}

input:focus{
  color: orange !important;
}

/* ---------------- text ------------------*/
.link-text-return{
    color: white;
    margin-bottom: 4rem;
}

/*media querys*/
@media (max-width: 560px){
    .link-text-return{
        display: none;
    }
}

/*media querys*/
@media (max-width: 2560px){
    .login-conteiner{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media (max-width: 425px){
    .login-conteiner{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/*media querys*/
@media (max-width: 560px){
    .login-conteiner{
        margin-top: 4rem;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.link-text{
    color: white;
    margin-top: 4rem;
    text-align: center;
}


/* =============== cargando ===============*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1500;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

/* change border to transparent and set only border-top to a solid color */
#loader {
    border: 3px solid transparent;
    border-top-color: blue;
}
#loader:before {
    border: 3px solid transparent;
    border-top-color: darkblue;
}
#loader:after {
    border: 3px solid transparent;
    border-top-color: darkcyan;
}

#loader {
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#loader:before {
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#loader:after {
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}


/* include this only once */
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    -webkit-animation: spin 5s linear infinite;
    animation: spin 3s linear infinite;
}

/*.fdlksjflksajhfdlkjsahlfkjhaslkjfhlsdkj*/

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
}


/*styles for the contents cards and publication info  */
.shadow{
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.21);
    margin: 20px auto;
}


